@import 'o-colors/main';
@import 'o-grid/main.scss';
@import '@financial-times/g-components/styles.css';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/
