{% if ads != undefined  %}
<!-- leaderboard include start -->
<div class="o-ads above-header-advert advert advert--background advert--transition advert--reserve-90 o-ads--center" data-o-ads-name="entry" data-o-ads-center="true" data-o-ads-targeting="pos=top" data-o-ads-formats-default="false" data-o-ads-formats-small="false" data-o-ads-formats-medium="Leaderboard,Responsive" data-o-ads-formats-large="SuperLeaderboard,Leaderboard,Responsive" data-o-ads-formats-extra="Billboard,SuperLeaderboard,Leaderboard,Responsive" data-o-ads-lazy-load="true" aria-hidden="true"></div>
<!-- leaderboard include end-->
{% endif %}