<div>
  <a href="{{ topic.url }}" class="o-typography-topic">{{ topic.name }}</a>
</div>

<h1 class="o-typography-headline" itemprop="headline">{{ headline | md(true) }}</h1>

<p class="o-typography-standfirst">
  {{ summary | md(true) }}
  {% if relatedArticle %}
  <a href="{{ relatedArticle.url }}" class="o-typography-link">{{ relatedArticle.text }}</a>
  {% endif %}
</p>
<meta itemprop="dateModified" content="{{ publishedDate | isotime }}" />

{% if mainImage.url or mainImage.uuid %}
<figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="{{ mainImage | getMainImage }}"></img>
    <figcaption class="o-typography-caption">
     {{mainImage.description}}
     {{mainImage.credit}}
  </figcaption>
</figure>
{% endif %}

{% if flags.shareButtons %}
  {% include "includes/share.html" %}
{% endif %}

{%- if publishedDate -%}
<span data-o-component="o-date" class="o-date o-typography-timestamp" datetime="{{ publishedDate | isotime }}">{{ publishedDate | ftdate }}</span>
{%- endif -%}
{%- if byline -%}
<div class="o-typography-author">&nbsp;by&nbsp;
{%- if byline.push -%}
  {%- for author in byline -%}
    {{ " and " if not loop.first and loop.last else (", " if not loop.first else "") }}
    {%- if author.url -%}
      <a href="{{ author.url }}">{{ author.name }}</a>
    {%- else -%}
      {{ author.name }}
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  {{ byline | md(true) }}
{%- endif -%}
</div>
{%- endif -%}
