<div class="o-grid-container">
  <div class="o-grid-row">
    <div
        id="comments"
        data-o-grid-colspan="12 S11 Scenter M9 L8 XL7"
        data-o-component="o-comments"
        data-o-comments-auto-init="true"
        data-o-comments-config-title="{{ title | default(headline, true) }}"
        data-o-comments-config-url="{{ url }}"
        data-o-comments-config-article-id="{{ id if id else test_comments_uuid }}">
            <div class="o--if-no-js">To participate in this chat, you need to upgrade to a newer web browser. <a href="http://help.ft.com/tools-services/browser-compatibility/">Learn more.</a></div>
    </div>
  </div>
</div>
