<header class="o-header o-header--simple" data-o-component="o-header" data-o-header--no-js="">
  <div class="o-header__row o-header__top">
    <div class="o-header__container">
      <div class="o-header__top-wrapper">
        <div class="o-header__top-column o-header__top-column--center">
          <a class="o-header__top-logo" href="http://www.ft.com/" title="Go to Financial Times homepage">
            <span class="o-header__visually-hidden">Financial Times</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
