<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-header@^6.5.1">
<header class="o-header o-header--simple" data-o-component="o-header" data-o-header--no-js="">
	<div class="o-header__row o-header__top">
		<div class="o-header__container">
			<div class="o-header__top-wrapper">
				<div class="o-header__top-column o-header__top-column--center">
					<a class="o-header__top-logo" href="http://www.ft.com/" title="Go to Financial Times homepage">
						<span class="o-header__visually-hidden">Financial Times</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</header>
<script async>queue('https://origami-build.ft.com/v2/bundles/js?export=oHeader&modules=o-header@^6.5.1', null, true)</script>
