<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- resource hints -->
<link rel="preconnect" href="https://origami-build.ft.com">
<link rel="preconnect" href="https://build.origami.ft.com" crossorigin>
<link rel="preconnect" href="https://cdn.polyfill.io">

<!-- Critical JS and CSS -->
<script inline src="scripts/top.js"></script>
<link inline rel="stylesheet" href="styles/top.css">

<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=n-normalize@^1,o-fonts@^2">
<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-grid@^4,o-typography@^4.2">
<link rel="stylesheet" href="styles/main.css">

<!-- misc metadata -->
<link href="https://plus.google.com/113457471429583444041/" rel="publisher" />
<meta property="fb:page_id" content="8860325749" />
<link rel="shortcut icon" href="https://ig.ft.com/favicon.ico" type="image/x-icon">
<link rel="apple-touch-icon" href="https://ig.ft.com/apple-touch-icon.png">
<meta name="format-detection" content="telephone=no">
<meta name="robots" content="index,follow">
<meta name="copyright" content="Financial Times">
<meta name="theme-color" content="#fff1e0" />

{% if flags.errorReporting %}
<!-- error reporting -->
<script type="application/json" data-o-errors-config>
{"sentryEndpoint": "https://ddbd80489ff549538250bbe37fa52bbd@app.getsentry.com/71130"}
</script>
<script async src="https://origami-build.ft.com/v2/bundles/js?modules=o-errors@^3.4.0"></script>
{% endif %}

{% if flags.googleAnalytics %}
<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-35229645-1', 'auto');
  ga('require','displayfeatures');
  ga('send', 'pageview');
</script>
{% endif %}

<title>{{ title | default(headline, true) }} &mdash; FT.com</title>
<meta name="twitter:title" content="{{ socialHeadline | default(headline, true) }}">
<meta property="og:title" content="{{ socialHeadline | default(headline, true) }}">

<meta name="description" content="{{ description }}">
<meta name="twitter:description" content="{{ description }}">
<meta property="og:description" content="{{ description }}">

<link rel="canonical" href="{{ url }}">
<meta name="twitter:url" content="{{ url }}">
<meta property="og:url" content="{{ url }}">

<link rel="image_src" href="{{ image }}">
<meta name="twitter:image" content="{{ image }}">
<meta property="og:image" content="{{ image }}">

<meta name="twitter:card" content="{{ twitterCard }}">
<meta name="twitter:site" content="@ft">

{% if twitterCreator %}
<meta name="twitter:creator" content="{{ twitterCreator }}">
{% endif %}
