{% for section in onwardJourney.relatedContent %}
{% if loop.first %}<aside class="onward-journey__block">{% endif %}
  <section class="onward-journey__section" data-g-component="onward-journey" data-list="{{ section.list | safe }}" data-rows="{{ section.rows | default('1', true) }}"></section>
{% if loop.last %}</aside>{% endif %}
{% endfor %}
<style>
.onward-journey__link {
  color: #333;
  text-decoration: none;
}
</style>
<script>
(function() {
  [].forEach.call(document.querySelectorAll('[data-g-component="onward-journey"]'), function(tag) {
    if (!tag.classList.contains('is-rendered')) {
      var list = tag.getAttribute('data-list');
      var layout = tag.getAttribute('data-layout') || '';
      var limit = parseInt(tag.getAttribute('data-rows') || '1') * 4;
      var urlBase = 'https://ig.ft.com/onwardjourney/v3/';
      var url = [urlBase, list, '/html/', layout, '?limit=', limit].join('');
      if (list) {
        fetch(url)
          .then(function(res) {
            return res.text();
          })
          .then(function(html) {
            tag.innerHTML = html;
          })
          .catch(function() {
            tag.remove();
          });
      }
    }

    tag.classList.add('is-rendered');
  });
})();
</script>
