<div class="article__share article__share--top n-util-clearfix" data-trackable="share | top">
  <div class="container">
    <div data-o-component="o-share" class="o-share">
      <ul>
        <li class="o-share__action o-share__action--twitter">
          <a href="https://twitter.com/intent/tweet?url={{ url }}&amp;text={{ tweetText | default(twitterHeadline) | default(socialHeadline) | default(headline) }}{% if twitterRelatedAccounts %}&amp;related={{ twitterRelatedAccounts | join(',') }}{% endif %}&amp;via=FT" rel="noopener"><i>Twitter</i></a>
        </li>
        <li class="o-share__action o-share__action--facebook">
          <a href="http://www.facebook.com/sharer.php?u={{ url }}" rel="noopener"><i>Facebook</i></a>
        </li>
        <li class="o-share__action o-share__action--linkedin">
          <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ url }}&amp;source=Financial%20Times" rel="noopener"><i>LinkedIn</i></a>
        </li>
        <li class="o-share__action o-share__action--whatsapp">
          <a target="_blank" href="whatsapp://send?text={{ socialHeadline | default(headline) }}%20-%20{{ url }}" data-trackable="whatsapp" rel="noopener"><i>Whatsapp</i></a>
        </li>
      </ul>
    </div>
  </div>
</div>
