<link rel="stylesheet" href="https://origami-build.ft.com/v2/bundles/css?modules=o-share@^2">
<div data-o-component="o-share"
    class="o-share o-share--vertical o-share--muted"
    data-o-share-links="twitter facebook"
    data-o-share-url="{{ url }}"
    data-o-share-title="{{ socialHeadline | default(headline, true) | plain }}"
    data-o-share-summary="{{ socialSummary | default(summary, true) | plain }}"
    data-o-share-relatedTwitterAccounts="@ft">
</div>
<script async>queue('https://origami-build.ft.com/v2/bundles/js?export=oShare&modules=o-share@^2', null, true)</script>
