{
  "extends": ["airbnb", "airbnb/hooks", "plugin:mdx/recommended", "prettier"],
  "root": true,
  "rules": {
    "import/no-extraneous-dependencies": [2, {}],
    "import/extensions": [0],
    "react/jsx-filename-extension": [0],
    "react/jsx-fragments": [2, "element"],
    "react/state-in-constructor": [0],
    "react/jsx-props-no-spreading": [0],
    "react/function-component-definition": [0]
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "extensions": [".ts", ".js", ".jsx", ".json", ".scss"]
      }
    }
  }
}
