{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "root": true,
  "rules": {
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "import/extensions": [0],
    "react/jsx-filename-extension": [0],
    "react/jsx-fragments": [2, "element"],
    "react/state-in-constructor": [0],
    "react/jsx-props-no-spreading": [0],
    "react/function-component-definition": [0],
    "react/require-default-props": [0],
    "no-restricted-syntax": 0,
    "import/prefer-default-export": 0
  },
  "env": {
    "browser": true,
    "jest": true
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          [
            "@financial-times/g-components/styles.css",
            "@financial-times/g-components/dist/styles.css"
          ],
          [
            "@ft-interactive/vs-components$",
            "node-modules/@ft-interactive/vs-components/dist/vs-components.js"
          ]
        ],
        "extensions": [".ts", ".js", ".jsx", ".json", ".scss"]
      }
    }
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
