# package-lock.json causes weird npm install errors: 
# npm ERR! Cannot read property 'match' of undefined
# Gitignoring until fixed.
package-lock.json


/node_modules/
/bower_components/
/dist/
/.tmp/
/.sass-cache/
/yarn.lock
*.log
npm-debug.log*
.env
.DS_Store
