html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  background-color: #fff1e0;
  font-family: MetricWeb, sans-serif;
  margin:0;
  padding:0;
}

main {
  display:block
}

.core .o--if-js,
.enhanced .o--if-no-js,
.is-next .hide-next,
.is-falcon .hide-falcon,
.is-loggedin .hide-loggedin,
.is-anonymous .hide-anonymous {
  display: none !important;
}

.show-loggedin,
.show-anonymous,
.show-next,
.show-falcon,
.hide-falcon,
.hide-next,
.hide-loggedin,
.hide-anonymous {
  display: none;
}

.is-loggedin .show-loggedin,
.is-anonymous .show-anonymous,
.is-next .show-next,
.is-falcon .show-falcon,
.is-falcon .hide-next,
.is-next .hide-falcon {
  display: inherit;
}
