{% macro topAd() %}
<div
  class="o-ads o-ads--center o-ads--background o-ads--reserve-90"
  data-o-ads-name="top-ad"
  data-o-ads-targeting="pos=top;"
  data-o-ads-formats-default="false"
  data-o-ads-formats-small="false"
  data-o-ads-formats-medium="Leaderboard,Responsive"
  data-o-ads-formats-large="SuperLeaderboard,Leaderboard,Responsive"
  data-o-ads-formats-extra="Billboard,SuperLeaderboard,Leaderboard,Responsive"
  aria-hidden="true"></div>
{% endmacro %}

{% macro middleAd() %}
<div
  class="o-ads o-ads--center o-ads--background o-ads--reserve-250"
  data-o-ads-name="mid-ad"
  data-o-ads-targeting="pos=mid;"
  data-o-ads-formats-default="Responsive"
  data-o-ads-formats-small="MediumRectangle,Responsive"
  data-o-ads-formats-medium="MediumRectangle,Responsive"
  data-o-ads-formats-large="MediumRectangle,Responsive"
  data-o-ads-formats-extra="MediumRectangle,Responsive"
  aria-hidden="true"></div>
{% endmacro %}
