.above-header-advert {
    display: block;
    padding: 10px 0;
}
.advert--background {
    background-color: #e9decf;
    background-image: -webkit-repeating-linear-gradient(315deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1.5px, transparent 0, transparent 3px);
    background-image: repeating-linear-gradient(135deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 1.5px, transparent 0, transparent 3px);
    background-size: 4px 4px
}
.advert--transition {
    will-change: min-height, padding, height;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: height .35s ease-in-out, min-height .35s ease-in-out, padding .35s ease-in-out;
    transition: height .35s ease-in-out, min-height .35s ease-in-out, padding .35s ease-in-out
}
.advert--reserve-90 {
    min-height: 90px;
    height: 90px
}
.advert--reserve-90[data-o-ads-loaded=Billboard],
.advert--reserve-90[data-o-ads-loaded=MediumRectangle] {
    height: 250px
}
.advert--reserve-250 {
    height: 250px;
    min-height: 250px;
    padding: 10px 0
}
.advert--reserve-250[data-o-ads-loaded=Leaderboard] .o-ads__outer,
.advert--reserve-250[data-o-ads-loaded=SuperLeaderboard] .o-ads__outer {
    position: relative;
    top: 50%;
    margin-top: -45px
}
.advert--reserve-90[data-o-ads-loaded=Responsive],
.advert--reserve-250[data-o-ads-loaded=Responsive] {
    height: 250px;
    min-height: 250px;
    padding: 10px 0
}
@media (max-width: 90em) {
    .advert--reserve-90[data-o-ads-loaded=Responsive],
    .advert--reserve-250[data-o-ads-loaded=Responsive] {
        height: auto;
        min-height: 17.34vw;
        padding: 0
    }
}
@media (max-width: 30.615em) {
    .advert--reserve-90[data-o-ads-loaded=Responsive],
    .advert--reserve-250[data-o-ads-loaded=Responsive] {
        height: auto;
        min-height: 48.1vw
    }
}