@import '@financial-times/o-grid/main.scss';

// Transition timing
$short-delay: 50ms;
$short-transition: 200ms;
$mid-short-transition: 400ms;
$mid-transition: 500ms;
$mid-long-transition: 600ms;
$long-transition: 700ms;

// Colors
$ft-pink: #fff1e5;
$ft-slate: #262a33;
