// starter-kit dark theme
@import 'o-typography/main';

.dark {
  html,
  body {
    background-color: oColorsGetPaletteColor('slate');
  }

  .article {
    .o-typography-topic,
    .o-typography-author {
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);

      &:hover {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 73);
      }
    }

    h1 {
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
    }

    .o-typography-standfirst {
      @include oTypographySans($scale: 2, $line-height: 24px);
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 80);

      a {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
        border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);

        &:hover {
          border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
        }
      }
    }

    p,
    div,
    .o-date,
    ol li,
    ul li,
    figcaption {
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);
    }

    p a,
    figcaption a,
    footer small a {
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
      border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);

      &:hover {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
        border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
      }

      &:focus {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
        border-bottom-color: transparent;
      }
    }

    p {
      @include oTypographySerif($scale: (default: 1, XL: 2), $line-height: 1.6);
    }

    ol li,
    ul li {
      @include oTypographySerif($scale: 1, $line-height: 28px);

      &::before {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60) !important;
      }
    }
  }

  .onward-journey {
    a,
    h2 {
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);

      &:hover {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 73);
      }

      &:focus {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 73);
      }

      &:visited {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
      }
    }

    .o-date {
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);
    }
  }

  .o-footer__row {
    border-top: 1px solid #51555c;
    padding-top: 12px;
  }
}
