$font-sans: MetricWeb, sans-serif;
$font-serif: Georgia, serif;
$font-display: FinancierDisplayWeb, Georgia, serif;

body {
  @include oColorsFor(page, background);
  margin: 0;
  border: 0;
  font-family: $font-sans;
}

.article {
  &-head {
    margin-top: 18px;
    margin-bottom: 0;

    .article__share {
      margin-bottom: 15px;
    }
  }

  &-body {
    div[data-o-grid-colspan] {
      & > div {
        max-width: 700px;
      }
    }
  }
}

/* Hide whatsapp share button on desktop */
.article__share {
  @include oGridRespondTo(S) {
    .o-share__action--whatsapp {
      display: none;
    }
  }
}


.graphic {
  display: block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;

  & > img,
  & > svg {
    width: 100%;
    height: auto;
    display: block;
  }

  &-b-0 {
    max-width: 625px;
  }

  &-b-1 {
    max-width: 700px;
  }

}
