@import '@financial-times/o-grid/main';
@import '../../settings.scss';

.intro-content {
  text-align: center;
  max-width: 800px;
  box-sizing: border-box;
  z-index: 100;
  pointer-events: auto;
  padding: 0 10px;
  // new additions for header to sit ontop of map
  // position: absolute;
  // background: #fff0e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  // top: 50%;
  // left: 0;
  // transform: translate(0, -50%);
  align-self: center;

  @include oGridRespondTo($until: M) {
    text-shadow: 0px 0px 2px #fff1e5, 0px 0px 4px #fff1e5, 0px 0px 8px #fff1e5, 0px 0px 16px #fff1e5,
      0px 0px 24px #fff1e5, 0px 0px 32px #fff1e5, 0px 0px 40px #fff1e5;
  }

  @include oGridRespondTo($from: L) {
    // left: 50%;
    // transform: translate(-50%, -50%);
    padding: 0;
    max-width: 800px;
    width: fit-content;
  }

  .topic {
    a.o-editorial-typography-topic {
      color: #ba3900;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: MetricWeb;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 22px; /* 122.222% */
      //   margin-bottom: 18px;
      @include oGridRespondTo(M) {
        font-size: 18px;
      }
      &:hover {
        color: #4d081f;
      }
    }
  }

  h1.o-editorial-layout-heading-1 {
    font-size: 48px;
    line-height: 50px;
    // color: #fff;
    font-weight: 585;
    font-feature-settings: 'clig' off, 'liga' off;
    margin: 11px auto 14px;

    @media screen and (max-width: 375px) {
      font-size: 40px;
      line-height: 40px;
    }
    @include oGridRespondTo(M) {
      font-size: 64px;
      line-height: 67px;
      margin: 9px auto 15px;
      text-wrap: balance;
    }

    @include oGridRespondTo(L) {
      font-size: 72px;
      line-height: 72px;
    }

    span.strike-through {
      text-decoration: line-through;
      text-decoration-color: #c83e32e6;
      text-decoration-thickness: 6px;
      padding-right: 4px;
      @include oGridRespondTo(M) {
        text-decoration-thickness: 8px;
      }
    }

    span.highlight-red {
      color: $story-red;
    }
  }

  p.o-editorial-typography-standfirst {
    font-family: MetricWeb;
    color: #66605c;
    // font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: auto;

    @include oGridRespondTo($from: M) {
      font-size: 24px;
      line-height: 28px;
      margin: 0 auto 8px;
      max-width: 85%;
    }
  }

  .bylines {
    font-weight: 400;

    @include oGridRespondTo($from: M) {
      max-width: 450px;
      margin: 13px auto 0;
    }
    // color: #fff;
    // text-shadow: 0px 0px 3px #333, 0px 0px 8px #333;

    time,
    a {
      transition: color 0.3s linear;
      // color: #fff;
      // text-shadow: 0px 0px 3px #333, 0px 0px 8px #333;
    }
    & > span {
      font-weight: 600;
    }

    font-size: 16px;
    line-height: 20px;
    font-family: MetricWeb, Helvetica, sans-serif;
    margin-top: 1em;

    border-bottom: unset !important;

    time.o-date {
      line-height: 20px;
      margin-left: 4px;
      white-space: nowrap;
    }

    a.o-editorial-typography-author {
      white-space: nowrap;
      //   color: white;

      &:hover {
        color: #4d081f;
      }
    }
  }
}

.bylines > span:nth-of-type(1) {
  white-space: nowrap;
}

.intro-content-gradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 457px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 32.89%, rgba(0, 0, 0, 0) 99.92%);

  @include oGridRespondTo($from: L) {
    height: 526px;
  }

  @include oGridRespondTo($from: XL) {
    height: 535px;
  }
}
